<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div id="app">
  <!--1.在遍历对象的过程中，如果只是获取一个值，那么获取的是value-->
  <ul>
    <li v-for="item in info">{{item}}</li>
  </ul>

  <!--2.获取key和value，（value，key）-->
  <ul>
    <li v-for="(value,key) in info">{{value}},{{key}}</li>
  </ul>

  <!--3.获取key和value和index，格式：（value，key，index）-->
  <ul>
    <li v-for="(value,key,index) in info">{{value}},{{key}},{{index}}</li>
  </ul>

</div>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  let app = new Vue({
    el: '#app',
    data: {
     info:{
       name: 'why',
       age: 18,
       height: 1.88
     }
    },
    methods: {
      add: function () {
        this.counter++
      },
      sub: function () {
        this.counter--;
      }
    }
  });

</script>

</body>
</html>